
<%- model_class = Question -%>
<div class="page-header">
  <h1><%= t '.title', :default => Question.name.pluralize.titleize %></h1>
</div>

<%= form_tag questions_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query], id: 'question_query' %>
    <%= submit_tag "Search", body: nil, id: 'question_search'  %>
  </p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Question List</th>
      <th></th>

    </tr>
  </thead>

  <tbody id="questions">
    <%= render :partial => "/questions/question", :locals => {:questions => @questions} %>
  </tbody>

</table>
<div id="question_paginator">
   <%= paginate @questions, :remote => true, :param_name => "question_page" %>
</div>

<% if can? :create, @question %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_question_path,
            :class => 'btn btn-primary' %>
<% end %>