<% @coach_meetings.each do |coach_meeting| %>
  <tr>
    <td><%= coach_meeting.title %></td>
    <td><%= coach_meeting.description %></td>
    <td><%= coach_meeting.starttime.strftime("%b %d, %Y %I:%M %p") %></td>
    <td><%= coach_meeting.endtime.strftime("%b %d, %Y %I:%M %p") %></td>
    <td><%= coach_meeting.created_at.strftime("%b %d, %Y %I:%M %p") %></td>
    <td><%= link_to coach_meeting.coach_mentee_relation.mentee.name, user_mentee_path(@user, coach_meeting.coach_mentee_relation.mentee) %></td>

  </tr>
<% end %>