<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @best_feature.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @best_feature.description %>
</p>

<p>
  <img src="<%= @best_feature.image_url(:thumb) %>" alt="" />
</p>

<%= link_to 'Back', best_features_path %>
