<% @tasks.each do |task| %>
<tr>
	<td><%= check_box_tag "tasks_ids[]", task.id ,class: 'mycheckbox'%></td>
	<td><%= task.description %></td>
	<td><%= task.starttime %></td>
	<td><%= task.endtime %></td>
	<td><%= task.status %></td>
 <td> <%= link_to t('.edit', :default => t("helpers.links.edit")),
     edit_user_mentee_task_path(@user, @mentee, task), :class => 'btn btn-mini' %>
 </td>
	</tr>
	<% end %>

	