<% var1 = []; i = 0 %>

<% @tasks.each do |task| %>
<tr>

	<td><%= check_box_tag "is_send_email[]", task.id %></td>
	<td><%= best_in_place task, :description, :type => :input, :path => user_mentee_task_path(coach, mentee, task) %></td>
	<div id="datetime1">
	<td><%= best_in_place task, :starttime, :type => :date, :path => user_mentee_task_path(coach, mentee, task) %></td>
	</div>
	<td><%= best_in_place task, :endtime, :type => :date, :path => user_mentee_task_path(coach, mentee, task) %></td>
	
	<td>

		<%= best_in_place task, :status, type: :select, collection: [["Pending", "pending"], ["Inprocess", "inprocess"], ["Completed", "completed"]], :path => user_mentee_task_path(coach, mentee, task)  %>
	</td>


</tr>
<% end %>

<%= submit_tag "Send Email" %>

<%= text_field_tag 'datetime' %>




