<h1>Listing accomplishments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Partner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accomplishments.each do |accomplishment| %>
      <tr>
        <td><%= accomplishment.body %></td>
        <td><%= accomplishment.mentee_id %></td>
        <td><%= link_to 'Show', accomplishment %></td>
        <td><%= link_to 'Edit', edit_accomplishment_path(accomplishment) %></td>
        <td><%= link_to 'Destroy', accomplishment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accomplishment', new_accomplishment_path %>
