<h3> Google Event Listing </h3>

<table class="table table-striped">

  <tbody>
  <% @google_events.each do |google_event| %>
    <tr>
      <td><%= google_event.url %></td>
      <td>
        <% if can? :edit, @google_events %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_google_event_path(google_event.profile, google_event), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_google_event_path(google_event.profile, google_event),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-mini btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @google_events %>

<% if can? :create, @google_event %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_google_event_path,
            :class => 'btn btn-primary' %>
<% end %>