<h3> Listing Mentees </h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Date of Birth</th>
    <th>Availability</th>
    <th>Prophecy</th>
    <th>Calendar Schedule</th>
  </tr>
  </thead>

  <tbody>
    
    <% @mentees.each do |mentee| %>
      <tr>
        <td><%= link_to mentee.name, user_mentee_path(@user, mentee) %></td>
        <td><%= mentee.email %></td>
        <td><%= mentee.date_of_birth %></td>
        <td><%= mentee.availability %></td>
        <td><%= mentee.prophecy %></td>
        <td><%= link_to "View", mentee_events_path(mentee) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @mentees %>
<br>
