<% @coach_meetings.each do |coach_meeting| %>
  <tr>
    <td><%= coach_meeting.title %></td>
    <td><%= coach_meeting.description %></td>
    <td><%= coach_meeting.starttime.strftime("%d %b, %Y %I:%M %p") %></td>
    <td><%= coach_meeting.endtime.strftime("%d %b, %Y %I:%M %p") %></td>
    <td>
      <p id="clock-<%=coach_meeting.id %>"><%= time_diff(coach_meeting.remaining_time) %></p>
    </td>
    <p id="buttons" class="clear">
      <td>
        <button id="start-<%=coach_meeting.id %>" class="button" onClick="startInterval(<%=coach_meeting.id %>,<%=coach_meeting.remaining_time %>)">start</button>
      </td>
      <td>
        <button id="stop-<%=coach_meeting.id %>" class="button" onClick="stopInterval(<%=coach_meeting.id %>)">stop</button>
      </td>
    </p>
  </tr>
<% end %>

<script type="text/javascript">


// $(document).ready(function () {
var counter = 0;
// counter_stoped = false;
// var counter =  <%= $coach_meeting_time_seconds %>;
var timer = null;
var display_time = ' ';
var start_time = 0;
var event_id = 0;
var inputs;
var press_start = 1;
var session_start_time = new Date();

// function alert(nope) { return; }

// window.onbeforeunload = function() {
  
//   url = "/events/" + event_id + "/meeting_time_management";
//   for (var i = 0; i < inputs.length; i++) {
//     inputs[i].disabled = false;
//   }
  
//   if(event_id > 0)
//   {
//     $.post(url,{event_id:event_id, time_seconds:counter, coach_meeting_out_time:"<%= Time.now %>"});
//     alert("Session is in progress");
//   }
//   return null;
//   // return "Session is in progress";
// };
$(document).ready(function () {
  // alert(<%=$coach_meeting_id %> != 0);
 // sessionStorage.setItem("company_id", "1111");
  // alert(sessionStorage.getItem("session_event_id"));
  if(sessionStorage.getItem("session_event_id"))
  {
    document.getElementById("start-"+sessionStorage.getItem("session_event_id")).click(sessionStorage.getItem("session_event_id"), sessionStorage.getItem("session_initial_remaining_time"));
  }
});
function tictac(){
    counter++;
    display_time = formatTime(start_time-counter);
    if(start_time-counter >= 0)
    {
      // alert(display_time);
      // <%= $coach_meeting_time_seconds %>  = counter;
      $("#clock-"+event_id).html(display_time);
    }
    else
    {
      stopInterval(event_id);
    }
}
function startInterval(id, start_counter)
{

  session_start_time = new Date(sessionStorage.getItem("session_start_time"));
  // start_time = <%= $coach_meeting_time_seconds %>;

  if(sessionStorage.getItem("session_event_id"))
  {
    current_time = new Date()
    counter = (current_time - session_start_time)/1000;
    // alert(session_start_time);
    // alert(current_time);
    // alert(counter);
  }
  else
  {
    var url = window.location.href;
    var parts = url.split("/");
    var mentee_id = parts[parts.length - 1]
    var coach_id = parts[parts.length - 3];

    sessionStorage.setItem("session_start_time", Date());
    sessionStorage.setItem("session_event_id", id);
    sessionStorage.setItem("session_initial_remaining_time", start_counter);
    sessionStorage.setItem("session_mentee_id", mentee_id);
    sessionStorage.setItem("session_coach_id", coach_id);
    sessionStorage.setItem("session_url", url);
    counter = 0;
  }
  event_id = id;
  start_time = start_counter;

  // alert(start_time);
  timer= setInterval("tictac()", 1000);
  inputs = document.getElementsByClassName('button');
  for (var i = 0; i < inputs.length; i++) {
      if (inputs[i].id === 'stop-'+id) {
          inputs[i].disabled = false;
      }
      else
      {
          inputs[i].disabled = true;
      }
  }; 
};

function stopInterval(id)
{

    var url = window.location.href;
    var parts = url.split("/");
    var mentee_id = parts[parts.length - 1]
    var coach_id = parts[parts.length - 3];

    console.log("event_id: " + id);
    // alert(counter);
    if(event_id > 0)
    {
    url = "/events/" + id + "/time_slots";
    $.ajax({
      // data: 'event_id=' + id + '&time_seconds=' + counter.to_s,
      data: 'event_id=' + id + '&time_seconds='+ counter + '&coach_id=' + coach_id + '&mentee_id=' + mentee_id,
      dataType: 'script',  
      type: 'post',
      url: url,
      success: function(){
        // url = "/events/" + id + "/meeting_time_management";
        // $.post(url,{reset_time_counter:true});
        clearInterval(timer);
        for (var i = 0; i < inputs.length; i++) {
          inputs[i].disabled = false;
        }

        counter = 0;
        start_time = 0;
        event_id = 0;
        press_start = 0;
        sessionStorage.removeItem("session_event_id");
        sessionStorage.removeItem("session_start_time");
        sessionStorage.removeItem("session_initial_remaining_time")
        sessionStorage.removeItem("session_mentee_id");
        sessionStorage.removeItem("session_coach_id");
        sessionStorage.removeItem("session_url");


        location.reload();
      }
      ,
      error: function(){
        // url = "/events/" + id + "/meeting_time_management";
        // $.post(url,{reset_time_counter:true});

        clearInterval(timer);
        for (var i = 0; i < inputs.length; i++) {
          inputs[i].disabled = false;
        }
        counter = 0;
        start_time = 0;
        event_id = 0;
        press_start = 0;
        sessionStorage.removeItem("session_event_id");
        sessionStorage.removeItem("session_start_time");
        sessionStorage.removeItem("session_initial_remaining_time")
        sessionStorage.removeItem("session_mentee_id");
        sessionStorage.removeItem("session_coach_id");
        sessionStorage.removeItem("session_url");


        location.reload();
      }
    });
    }
    // clearInterval(timer);
    // counter = 0;
    // // counter_stoped = true;
    // start_time = 0;
    // for (var i = 0; i < inputs.length; i++) {
    //   inputs[i].disabled = false;
    // } 
    // location.reload();
}

function formatTime(seconds)
{
  var formated_time = [
      Math.floor(seconds / 3600), // an hour has 3600 seconds
      Math.floor((seconds % 3600) / 60), // a minute has 60 seconds
      Math.floor(seconds % 60)
  ];
  // 0 padding and concatation
  formated_time = formated_time.map(function(time) {
      return time < 10 ? '0' + time : time;
  }).join(':');
  // alert(formated_time);
  return formated_time;
}
// });
</script>


