<% @mentees.each do |mentee| %>
		<tr>
		  <td><%= link_to mentee.name, user_mentee_path(@user, mentee) %></td>
		  <td><%= mentee.email %></td>
		  <td><%= mentee.date_of_birth.strftime("%m/%d/%Y") if mentee.date_of_birth %></td>
		  <td><%= mentee.availability %></td>
		  <td><%= mentee.prophecy %></td>
		  <td><%= link_to "View", mentee_events_path(mentee) %></td>
		</tr>
<% end %>
