<h3> Mentee Details </h3>
<table class="table table-striped" >
  <tbody>
		  <tr>
		    <td>FIRST NAME</td>
		    <td><%= @mentee.first_name %></td>
		  </tr>
		  <tr>
		    <td>LAST NAME</td>
		    <td><%= @mentee.last_name %></td>
		  </tr>
		  <tr>
		    <td>EMAIL</td>
		    <td><%= @mentee.email %></td>
		  </tr>
		  <tr>
		    <td>Date of Birth</td>
		    <td><%= @mentee.date_of_birth %></td>
		  </tr>
		  <tr>
		    <td>DONER</td>
		    <td><%= @mentee.donor_id %></td>
		  </tr>
		  <tr>
		    <td>HOME PHONE</td>
		    <td><%= @mentee.home_phone %></td>
		  </tr>
		  <tr>
		    <td>AVAILABILITY</td>
		    <td><%= @mentee.availability %></td>
		  </tr>
		  <tr>
		    <td>PROPHECY</td>
		    <td><%= @mentee.prophecy %></td>
		  </tr>
		  <tr>
		    <td>BC</td>
		    <td><%= @mentee.bc %></td>
		  </tr>
		  <tr>
		    <td>COACH</td>
		    <td><%= link_to("#{@mentee.coach.first_name} #{@mentee.coach.last_name}", admin_user_path(@mentee.coach)) if @mentee.coach %></td>
		  </tr>

  </tbody>
</table>

<%= render :partial => "goals/show" %>
<%= render :partial => "goals/form", :locals => {:coach => @mentee.coach, :mentee => @mentee} %>

<%= render :partial => "accomplishments/show" %>
<%= render :partial => "accomplishments/form", :locals => {:coach => @mentee.coach, :mentee => @mentee} %>

<%= render :partial => "comments/show" %>
<%= render :partial => "comments/form", :locals => {:coach => @mentee.coach, :mentee => @mentee} %>

<%= render :partial => "email_histories/show" %>
<%= render :partial => "email_histories/form", :locals => {:coach => @mentee.coach, :mentee => @mentee} %>


<%= render :partial => "tasks/show" %>
<%= render :partial => "tasks/form", :locals => {:coach => @mentee.coach, :mentee => @mentee} %>

<%= link_to 'Back', user_path(@mentee.coach.id) %>