<p>
  <% if can? :read, @users %>
  <%= link_to "Back", users_path %>
    <% end %>
</p>

<h3> Details </h3>
<table class="table table-striped" >
  <tbody>
      <tr>
        <td>FIRST NAME</td>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <td>LAST NAME</td>
        <td><%= @user.last_name %></td>
      </tr>
      <tr>
        <td>EMAIL</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>ADDRESS</td>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <td>HOME PHONE</td>
        <td><%= @user.home_phone %></td>
      </tr>
      <tr>
        <td>AVAILABILITY</td>
        <td><%= @user.availablity_time %></td>
      </tr>
      <tr>
        <td>BEST TIME TO CALL</td>
        <td><%= @user.best_time_to_call %></td>
      </tr>
      <tr>
        <td>DATE OF BIRTH</td>
        <td><%= @user.date_of_birth.strftime("%m/%d/%Y") if @user.date_of_birth %></td>
      </tr>

  </tbody>
</table>

<%= link_to 'Show Partners', user_mentees_path(@user) %>
<%= link_to 'Back', users_path %>