<div class="login-content text-center"> <img class="login-logo" src="/assets/Prophetic-Coaching-logo.png"/>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="admin-login-form">
    <%= f.input :email, placeholder: 'Email', :required => false, :autofocus => true, label: false, input_html: { class: 'form-control' }  %>  
    <%= f.input :password, placeholder: 'Password', :required => false, label: false, input_html: { class: 'form-control' } %>
    <%= f.submit "LOGIN",class: "btn btn-block btn-primary" %>    
    <div class="row margin-top-20">
      <div class="col-xs-6 text-right ">
        <p>New member?</p>
        <a href="/users/sign_up">Register new account</a> </div>
      <div class="col-xs-6 border-left text-left">
        <div class="admin-login-bottom">
          <%= f.input :remember_me,  :as => :boolean, label: 'Keep me signed in' if devise_mapping.rememberable? %>
          <div class="clearfix"></div>
            <a href="/users/password/new">Forgot my password</a> 
          </div>
      </div>
    </div>
  </div>
<% end %>    
  <div class="footer-login">
  <ul class="footer-login-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="contact.html">Contact Us</a></li>
  <li><a href="features.html">Features</a></li>
  <li><a href="#">Privacy</a></li>
  </ul>
  <p class="margin-top-20 text-muted">&copy 2014 Prophetic Coaching.</p>
  </div>
</div>
<div class="login-bg"></div>