<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div><p><br /></p></div>
  <% unless(@activity.new_record?) %>
    <div>
      <select id="categories_list" name="categories_list" multiple="multiple">
        <% Category.order("name ASC").each do |category| %>
          <% if @existing_categories and (@activity.activity_categorizations.pluck(:category_id).include? category.id) %>
                  <option value= <%="#{category.id}" %> selected="selected" > <%= category.name %> </option>
              <% else %>
                  <option value= <%="#{category.id}" %>  > <%= category.name %> </option>
          <% end %>

        <% end %>
      </select>
    </div>
    <div><p><br /> <br /><br /></p></div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
    var activity_selection;
    <% if @selection %>
      activity_selection  ="<%= @selection.join(',').html_safe %>";
    <% else %>
        activity_selection  = nil;
    <% end %>
 </script>