<%= stylesheet_link_tag "/assets/active_admin.css" %>

<%- model_class = Ebook -%>
<table class="table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th> Page No</th>
    <th> Matched Text</th>
  </tr>
  </thead>
  <tbody id="ebook_search" style="font-size: 14px">
  <% pages ||= [] %>
  <%= render :partial => "admin/ebooks/display_search_result", :locals => {:pages => @pages} %>
  </tbody>
</table>

<div id="ebook_search_paginator">
     <%= paginate @pages, :remote => true, :param_name => "ebook_search_page" %>
</div>

<script type="text/javascript">
  $('tbody#ebook_search').html('<%= escape_javascript render :partial => "admin/ebooks/display_search_result", :locals => {:pages => @pages} %>');
  $('#ebook_search_paginator').html('<%= escape_javascript(paginate(@pages, :remote => true, :param_name => 'ebook_search_page').to_s) %>');
</script >