<% @ebooks.each do |ebook| %>
  <tr>
    <td>
    <div id="pdf-fullview">
        <%= link_to ebook.id, '#' %>
    </div>
    </td>

    <td><%= ebook.name %></td>
    <td><%= l ebook.created_at.to_time %></td>
    <td><%= ebook.categories.order("name asc").collect {|category| link_to("#{category.name}", category_path(category)) }.join(", ").html_safe %>
    </td>
    <td>
      <% if can? :edit, @ebook %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_ebook_path(ebook), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    ebook_path(ebook),
                    :method => :delete,
                    :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                    :class => 'btn btn-mini btn-danger' %>
      <% end %>
    </td>
  </tr>
<% end %>

<script type="text/javascript">
// $(document).ready(function () {

    // var document_url = sessionStorage.getItem("session_ebook_pdf");
    var document_url = "";
    var viewerParams = {
        document: document_url,  
        key: "K5102014151403",
        viewertype: "html5",
        viewerheight: "600",
        viewerwidth: "100%",
        upperToolbarColor: "7a7975",
        lowerToolbarColor: "000000",
        bottomToolbarColor: "000000",
        backgroundColor: "757a7a",
        fontColor: "ffffff",
        buttonColor: "white",
        hidden: "selectText,panTool,fullScreen,print,download,pageInfo,redact,esign"
    }

  $(".container .row").on("click", "td #pdf-fullview", function () {
    var document_id = $(this).closest('td').text();
    <% @ebooks.each do |ebook| %>
        if(<%= ebook.id.to_s %> == document_id) {
            viewerParams["document"] = "<%=ebook.pdf%>".replace(/amp;/g, '');
        }
    <% end %>
    // alert(viewerParams["document"]);
    var oHead = document.getElementById('accusoft_viewer');
    var oScript= document.createElement("script");
    oScript.type = "text/javascript";
    oScript.src="//api.accusoft.com/v1/viewer/js?container=accusoft_viewer&key=K5102014151403";
    $("#accusoft_viewer").dialog({
      close: function (event, ui) {
        $(this).empty().dialog('destroy');
      },
      width: 900
    });
    ui_dialog = document.getElementsByClassName("ui-dialog")
    ui_dialog[0].style.top = "120px";

    oHead.appendChild( oScript, viewerParams);
  });

// });
</script>
<!-- <script src="//api.accusoft.com/v1/viewer/js?container=accusoft_viewer&key=K5102014151403"></script> -->