<%= simple_form_for @ebook ||= Ebook.new, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.input :name %>
  <%= f.file_field :pdf %>

  <div class="form-actions">
    <%= f.button :submit, (@ebook.new_record? ? "Create " : "Update ") +@ebook_name, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ebooks_path, :class => 'btn' %>
  </div>
<% end %>
