<div id="pdfContainer" class = "pdf-content" style="display: none">
</div>

<%- model_class = Ebook -%>
<div class="page-header">
  <h1><%= t '.title', :default => @ebook_name.pluralize.titleize %></h1>
</div>

<%= form_tag search_ebooks_path, :id => "search_ebook", method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= select_tag 'category', options_for_select(Category.order("name ASC").collect {|category| [ category.name, category.name ] }, :selected), 
     {:include_blank => false, :prompt => "Select Category", :multiple => false, :size => 0}
    %>


    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th> Page No</th>
    <th> Matched Text</th>
  </tr>
  </thead>
  <tbody>
  <% @pages ||= [] %>
  <% @pages.each do |page| %>
    <tr>
      <td>
        <div id="pdf-fullview">
          <%=  link_to page.ebook_id, '#' %>
        </div>
      </td>
      <td><%= page.ebook_name %></td>
      <td>
        <div id="pdf-view">
          <%= page.page_number %>
        </div>
      </td>
      <td id="tags"> <%= page.tags %> </td>
    </tr>

  <% end %>
  </tbody>
</table>
<%= paginate @pages %>
<br>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ebook_path,
            :class => 'btn btn-primary' %>
<script type="text/javascript">
    var document_url = "";
    var viewerParams = {
        document: document_url,  
        key: "K5102014151403",
        viewertype: "html5",
        viewerheight: "600",
        viewerwidth: "100%",
        upperToolbarColor: "7a7975",
        lowerToolbarColor: "000000",
        bottomToolbarColor: "000000",
        backgroundColor: "757a7a",
        fontColor: "ffffff",
        buttonColor: "white",
        hidden: "selectText,panTool,fullScreen,print,download,pageInfo,redact,esign"
    }

  $(".container .row").on("click", "td #pdf-fullview", function () {
    var document_id = $(this).closest('td').text();
    <% @pages.each do |page| %>
        if(<%= page.ebook_id.to_s %> == document_id) {
            viewerParams["document"] = "<%=page.ebook.pdf%>".replace(/amp;/g, '');
        }
    <% end %>
    var oHead = document.getElementById('accusoft_viewer');
    var oScript= document.createElement("script");
    oScript.type = "text/javascript";
    oScript.src="//api.accusoft.com/v1/viewer/js?container=accusoft_viewer&key=K5102014151403";
    $("#accusoft_viewer").dialog({
      close: function (event, ui) {
        $(this).empty().dialog('destroy');
      },
      width: 900
    });
    ui_dialog = document.getElementsByClassName("ui-dialog")
    ui_dialog[0].style.top = "120px";

    oHead.appendChild( oScript, viewerParams);
  });
  
  $(".container .row").on("click", "td #pdf-view", function () {
    var document_id = $(this).closest('td').prev('td').prev('td').text();
    // var document_id = $(this).closest('td').text();
    <% @pages.each do |page| %>
        if(<%= page.ebook_id.to_s %> == document_id) {
            viewerParams["document"] = "<%=page.ebook.pdf%>".replace(/amp;/g, '');
        }
    <% end %>
    var oHead = document.getElementById('accusoft_viewer');
    var oScript= document.createElement("script");
    oScript.type = "text/javascript";
    oScript.src="//api.accusoft.com/v1/viewer/js?container=accusoft_viewer&key=K5102014151403";
    $("#accusoft_viewer").dialog({
      close: function (event, ui) {
        $(this).empty().dialog('destroy');
      },
      width: 900
    });
    // ui_dialog = document.getElementsByClassName("ui-dialog")
    // ui_dialog[0].style.top = "120px";

    oHead.appendChild( oScript, viewerParams);
  });
</script>
