<!DOCTYPE html>
<html lang="en">
<head>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#"><img class="logo" src="/assets/Prophetic-Coaching-logo.png"/></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/index.html">HOME</a></li>
        <li><a href="/about.html">ABOUT</a></li>
        <li><a href="/features.html">FEATURES</a></li>
        <li>
          <a href="/dashboard/index.html">COACHING SYSTEM</a>
        </li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
<section class="social">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="s-icons">
          <ul class="s-ul">
            <li><a href="contact.html"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-skype fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="s-links">
          <ul class="sl-ul">
            <li><a href="/users/sign_up">REGISTER</a></li>
            <li><a href="/users/sign_in">LOG-IN</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-holder-short">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <h2 class="page-title text-center">Contact Us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-sm-8">
  <h4 class="divider">KEEP IN TOUCH</h4>
  <%= simple_form_for :info, :url => '/info/contact' do |f| %>
    <div class="row">
      <div class="col-sm-4">
      <!-- <input class="form-control" type="email" placeholder="Name"/> -->
     <%= f.input :name, placeholder: 'Name', :required => true, :autofocus => true, label: false, input_html: { class: 'form-control' }  %>
      </div>
      <div class="col-sm-4">
      <!-- <input class="form-control" type="email" placeholder="Email"/> -->
      <%= f.input :email, placeholder: 'Email', :required => true, :autofocus => true, label: false, input_html: { class: 'form-control' }  %>
      </div>
      <div class="col-sm-4">
      <!-- <input class="form-control" type="email" placeholder="Subject"/> -->
      <%= f.input :subject, placeholder: 'Subject', :required => true, :autofocus => true, label: false, input_html: { class: 'form-control' }  %>
      </div>
    </div>
  <div class="row">
  <div class="col-xs-12 margin-top-50">
  <!-- <textarea class="form-control" rows="10" placeholder="Message"></textarea> -->
  <!--<%= f.input :message, placeholder: 'qqMessage', :required => true, :autofocus => true, label: false, input_html: { id: 'message-area', :rows => 10 }  %> -->
  <%= f.input :message, placeholder: 'Message', :required => true, :autofocus => true, label: false, :as => :text, :input_html => { :rows => 7 , :style => 'width: 100%'} %>
  <!--<button class="btn btn-primary margin-top-50">Send Message</button>-->
  <%= f.submit "Send Message",class: "btn btn-primary margin-top-50" %>

  </div>
  </div>
  </div>
  <% end %>
  <div class="col-sm-4 contact-info">
   <h4 class="divider">CONTACT INFO</h4>
   <h3>Naomi Jordan Cook</h3>
   <p>Coaching Manager</p>
   <h3>Antoinette Harris</h3>
   <p>Motivator Coaching Manager</p>
   <h3>Dominique Da'Cruz</h3>
   <p>Assistant Coaching Manager</p>
   <h3>Jenny Bamba</h3>
   <p>Visual Assistant Manager</p>
   <div class="contact-social"> <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
     <a class="twitter" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
     <a class="youtube" href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
     <a class="vimeo" href="#"><i class="fa fa-vimeo-square fa-2x"></i></a>
   </div>
  </div>
  </div>
</div>
<div class="call-out margin-top-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p class="call-out-text">Experience the Coaching Console for 30-Days - Prophetic coaching system</p>
      </div>
      <div class="col-sm-4">
        <form class="form-inline call-out-form">
          <input class="form-control" type="email" placeholder="Email"/>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="copyrights">Copyright (C) 2014 Prophetic Coaching</p>
      </div>
    </div>
  </div>
</div>
<script src="/assets/jquery.js" type="text/javascript"></script> 
<script src="/assets/bootstrap.js" type="text/javascript"></script> 
<script src="/assets/js.js" type="text/javascript"></script> 
<script src="/assets/owl.carousel.js" type="text/javascript"></script> 
<script src="/assets/jquery.nicescroll.min.js" type="text/javascript"></script> 
<script>
$(document).ready(
	function() {  
		$("html").niceScroll({
			 cursorcolor:"#000" 
			,mousescrollstep:"40" 
			,scrollspeed:"400"
			,cursoropacitymin:"0.4"
			,cursoropacitymax:"0.4"
			,cursorborderradius:"10px"});
		}
	);
</script>
</body>
</html>
