<!DOCTYPE html>
<html>
<head>
  <title>Prophetic Coaching</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= include_gon %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/bootstrap.css" rel="stylesheet"/>
  <link href="/assets/bootstrap-theme.css" rel="stylesheet"/>
  <link href="/assets/font-awesome.css" rel="stylesheet"/>
  <link href="/assets/custom.css" rel="stylesheet"/>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700' rel='stylesheet' type='text/css'>

</head>


<body>

<% if !(params[:controller] == 'devise/sessions' or (params[:controller] == 'users/registrations' and params[:action] != 'edit')) %>

<% flash.each do |name, msg| %>
<div class="flash-box">
      <% if msg.is_a?(String) %>
        <div class="alert text-center alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
        </div>
      <% end %>
</div>
<% end %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <% if current_user %>
          <p class="text-left top-bar-text">Welcome to Prophetic Coaching</p>
        <% else %>
          <p class="text-left top-bar-text"></p>
        <% end %>
      </div>
      <div class="col-xs-6">
        <% if current_user %>
          <p class="text-right top-bar-text">Logged in as : <a href="#"><%= current_user.first_name %> </a></p>
        <% else %>
          <p class="text-right top-bar-text"><a href="#"></a></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span></button>
      <a class="navbar-brand" href="/"><img class="logo" src="/assets/Prophetic-Coaching-logo.png"/></a></div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>    
          <% if current_user.has_role?(:admin) %>
            <li><%= link_to "Admin Panel", admin_users_path %></li>
          <% end %>
          <li><%= link_to "Dashboard", dashboard_index_path %></li>
          <li><%= link_to "View Coaches Schedule", events_path %></li>
          <li><%= link_to "My Partners", mentees_path %></li>
          <li><%= link_to "Search Resource", ebooks_path %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <% else %>
          <li><a href="/info/index.html">HOME</a></li>
          <li><a href="/info/about.html">ABOUT</a></li>
          <li><a href="/info/features.html">FEATURES</a></li>
          <li><a href="/contact_requests/new">CONTACT</a></li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<section class="social">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="s-icons">
          <ul class="s-ul">
            <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-skype fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="s-links">
          <ul class="sl-ul">
            <% if current_user %>
              <li><%= link_to "LOG-OUT", destroy_user_session_path, :method => :delete %></li>
              <li></li>
            <% else %>
              <li><a href=<%= new_user_registration_path %>> REGISTER</a></li>
              <li><a href=<%= new_user_session_path %>>LOG-IN</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
      <div id="accusoft_viewer" class="accusoft_pdf_viewer"></div>
</section>
<% if params[:controller] != 'info' %>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-holder-short">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="page-title"><%= @title %></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= yield %>
<% end %>

  <%= render partial: 'layouts/footer' %>
<% else %>
  <%= yield %>
<% end %>



<script type="text/javascript">
  authenticity_token = "<%= form_authenticity_token %>"
  var g_is_updated_time = 0;

function check_session_progress() {
  g_session_event_id = sessionStorage.getItem("session_event_id");
  var g_url = window.location.href;
  // alert("checking");
  if(sessionStorage.getItem("session_event_id") && g_url != sessionStorage.getItem("session_url"))
  {
    // alert("in layout JS2");
    g_start_time = sessionStorage.getItem("session_initial_remaining_time");
    g_session_start_time = new Date(sessionStorage.getItem("session_start_time"));
    g_session_mentee_id = sessionStorage.getItem("session_mentee_id");
    g_session_coach_id = sessionStorage.getItem("session_coach_id");

    g_current_time = new Date();
    g_counter = (g_current_time - g_session_start_time)/1000;
    
    if((g_start_time-g_counter <= 0) && g_is_updated_time == 0)
    {   
      g_is_updated_time = 1; 
      url = "/events/" + g_session_event_id + "/time_slots";
      $.ajax({
        data: 'event_id=' + g_session_event_id + '&time_seconds='+ g_start_time + '&coach_id=' + g_session_coach_id + '&mentee_id=' + g_session_mentee_id ,
        dataType: 'script',  
        type: 'post',
        url: url,
        success: function(){
          sessionStorage.removeItem("session_event_id");
          sessionStorage.removeItem("session_start_time");
          sessionStorage.removeItem("session_initial_remaining_time")
          sessionStorage.removeItem("session_mentee_id");
          sessionStorage.removeItem("session_coach_id");
          sessionStorage.removeItem("session_url");
          alert("Current Session is Timeout");
        }
        ,
        error: function(){
          sessionStorage.removeItem("session_event_id");
          sessionStorage.removeItem("session_start_time");
          sessionStorage.removeItem("session_initial_remaining_time")
          sessionStorage.removeItem("session_mentee_id");
          sessionStorage.removeItem("session_coach_id");
          sessionStorage.removeItem("session_url");
          alert("Current Session is Timeout");
        }
      });
    }
  }
} 


</script>

<!--<script src="/assets/jquery.js" type="text/javascript"></script> -->
<script src="/assets/bootstrap.js" type="text/javascript"></script>
<script src="/assets/js.js" type="text/javascript"></script>
<script src="/assets/owl.carousel.js" type="text/javascript"></script>
<script src="/assets/jquery.nicescroll.min.js" type="text/javascript"></script>
<script src="/assets/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/assets/bootstrap-timepicker.js" type="text/javascript"></script>
<script src="/assets/shared.js" type="text/javascript"></script>

</body>
</html>
