<!DOCTYPE html>
<html>
<head>
  <title>Prophetic Coaching</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/bootstrap.css" rel="stylesheet"/>
  <link href="/assets/bootstrap-theme.css" rel="stylesheet"/>
  <link href="/assets/font-awesome.css" rel="stylesheet"/>
  <link href="/assets/custom.css" rel="stylesheet"/>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700' rel='stylesheet' type='text/css'>
  <link href="/assets/datepicker.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/bootstrap-timepicker.js" rel="stylesheet" type="text/css"/>
</head>


<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert text-center alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span></button>
      <a class="navbar-brand" href="#"><img class="logo" src="/assets/Prophetic-Coaching-logo.png"/></a></div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/info/index.html">HOME</a></li>
        <li><a href="/info/about.html">ABOUT</a></li>
        <li><a href="/info/features.html">FEATURES</a></li>
        <% if current_user %>
          <li class="dropdown">
            <a href="/dashboard/index.html" class="dropdown-toggle" data-toggle="dropdown">COACHING SYSTEM</a>
            <ul class="dropdown-menu">
              <% if current_user.has_role?(:admin) %>
                <li><%= link_to "Admin Panel", admin_users_path %></li>
                <li class="divider"></li>
              <% end %>
              <li><%= link_to "Dashboard", dashboard_index_path %></li>
              <li class="divider"></li>
              <li><%= link_to "View Coaches Schedule", events_path %></li>
              <li><%= link_to "My Mentees", mentees_path %></li>
              <li><%= link_to "Search Resource", ebooks_path %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            </ul>
          </li>
        <% end %>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<section class="social">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="s-icons">
          <ul class="s-ul">
            <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-skype fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="s-links">
          <ul class="sl-ul">
            <% if current_user %>
              <li><%= link_to "LOG-OUT", destroy_user_session_path, :method => :delete %></li>
              <li></li>
            <% else %>
              <li><a href="/users/sign_up">REGISTER</a></li>
              <li><a href="/users/sign_in">LOG-IN</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<% if params[:controller] != 'info' %>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-holder-short">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="page-title"><%= @title %></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= yield %>
<% end %>

<%= render partial: 'layouts/footer' %>

<% if current_user %>
  <%= evnolve_html_code(current_user) %>
<% end %>

<script type="text/javascript">
  authenticity_token = "<%= form_authenticity_token %>"
</script>

<!--<script src="/assets/jquery.js" type="text/javascript"></script> -->
<script src="/assets/bootstrap.js" type="text/javascript"></script>
<script src="/assets/js.js" type="text/javascript"></script>
<script src="/assets/owl.carousel.js" type="text/javascript"></script>
<script src="/assets/jquery.nicescroll.min.js" type="text/javascript"></script>
<script src="/assets/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/assets/bootstrap-timepicker.js" type="text/javascript"></script>


<script>
  $(document).ready(
      function () {
        $("html").niceScroll({
          cursorcolor: "#000", mousescrollstep: "40", scrollspeed: "400", cursoropacitymin: "0.4", cursoropacitymax: "0.4", cursorborderradius: "10px"});
      }
  );
</script>
</body>
</html>
